
<fieldset style="padding:0px;margin:0px;">
    <legend style="padding:0px;">Handover Phases</legend>
    <ul class="side-nav hide-for-small">
        <li>
            <a href="#" onclick="return false">Pre-Delivery Handover</a>
            <ul class="side-nav">
                <li><a href="~/Activty/Type/1">Management Activties</a></li>
                <li><a href="~/Activty/Type/2">Development Activties</a></li>
                <li><a href="~/Activty/Type/3">Handover Activties</a></li>

            </ul>
        </li>
        <li>
            <a href="#" onclick="return false">Transation</a>
            <ul class="side-nav">
                <li><a href="~/Activty/Type/4">Management Activties</a></li>
                <li><a href="~/Activty/Type/5">Handover Activties</a></li>
            </ul>
        </li>
        <li>
            <a href="#" onclick="return false">Post-Delivery Handover</a>
            <ul class="side-nav">
                <li><a href="~/Activty/Type/6">Management Activties</a></li>
                <li><a href="~/Activty/Type/7">Handover Activties</a></li>
            </ul>
        </li>
    </ul>
</fieldset>
