@model IEnumerable<HandoverTracker.Models.ProjectActivty>

@{
    ViewBag.Title = "Acttivtes";
    Layout = "~/Views/Shared/_WorkLayout.cshtml";
    
}

<fieldset>
    <legend>@ViewBag.Title</legend>

    <ul class="small-block-grid-3">
        @foreach (var item in Model)
        {
            
            <li>
                <div style="padding: 10px; color:white;  background-color: #008CBA;">
                    <div>
                        @if(item.Status == "Yet To Start")
                        { 
                            @Html.ActionLink(item.Activty.Name, "Work", new { id = item.ProjectActivtyID }, new { style = "background-color:white; padding:5px; color:#B2B3B3; display:block;pointer-events: none; cursor: default;" })
                        }
                        else
                        {
                            @Html.ActionLink(item.Activty.Name, "Work", new { id = item.ProjectActivtyID }, new { style = "background-color:white; padding:5px; display:block" })
                        }
                            </div>

                    <div>
                        <label style="color:#fff" title="Project Status">@item.Status</label>
                    </div>
                </div>

            </li>
        }
    </ul>

</fieldset>
